$brand-primary: #e50071;
$brand-secondary: #b4c800;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5096a0;

$inverse-bg: #111;

$padding-base-vertical: 5px;
$padding-small-vertical: 1px;
$padding-large-vertical: 10px;
$padding-base-horizontal: 10px;
$padding-large-horizontal: 20px;

$btn-default-bg: $inverse-bg;
$btn-border-radius-base: 0;

$inputBorder: 2px solid $inverse-bg;
$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Tahoma, sans-serif;

$mobileLandscape: 320px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1200px;