@import '_variables';

.Input {
    &[type="text"],
    &[type="number"], 
    &[type="password"] {
        border: 0;
        border-bottom: 2px solid #ccc;
        border-radius: 0;
        padding: 0 0 0.5rem 0;
        
        &:focus {
            border-bottom-color: $brand-secondary;
            outline: none;
        }
    }
}
